.good-item {
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 3px;
}

.good-item__name {
    padding-top: 30px;
    color: steelblue;
}

.good-item__description {
    padding-top: 10px;
    font-size: 1em;
}

.good-item__price {
    padding-top: 10px;
    color: red;
}

.good-item__btn-add {
    margin-top: 30px;
}

.good-item__span {
    font-weight: bold;
    color: black;
}